# Globals
NODE_ENV=development
PORT=3000

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/finanhub?schema=public"

# AI / Agents
OPENAI_API_KEY=""

# Security
JWT_SECRET="sua_chave_secreta_super_segura"
NEXTAUTH_URL="http://localhost:3000"
